  <div class="container-fluid">
    <div class="row-fluid">
      <div>
        <i ng-click="query=''" class="cursor-pointer fa fa-times-circle fa-fw"></i>
        <input ng-model="query" placeholder="Search" class="span11 search-query" />
      </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span11">
        <!--Body content-->
	<br />
        <h4 class="text-center">Found {{(buildpacks | filter:query).length}} of {{buildpacks.length}} buildpacks in catalog.</h4>
	<br />
        <ul>
          <li><b>
            <div class="span1">.json .url</div>
            <div class="span3">.name</a></div>
            <div class="span3">.works_on</div>
            <div class="span3">.tags</div>
            <div class="span2">.date</div>
          </b>
          </li>
          <li ng-repeat="buildpack in buildpacks | filter:query | orderBy:'-date'">
            <div class="span1">
		<a href="/api/buildpacks/{{buildpack._id}}" target="_self"><i class="fa fa-code"></i></a> 
		<a href="{{buildpack.url}}"><i class="fa fa-external-link"></i></a> 
		<a href="/#!/buildpacks/{{buildpack._id}}"><i class="fa fa-pencil"></i></a> 
	    </div>
            <div class="span3"><a href="/#!/buildpacks/view/{{buildpack._id}}">{{buildpack.name}}</a></div>
            <div class="span3">
		<label class="label" ng-class="{'label-success': works, 'label-important': !works}" ng-repeat="(paas,works) in buildpack.works_on">
		{{ works | checkmark }} {{ paas }}
		</label>
	    </div>
            <div class="span3">
                <span ng-click="$event.preventDefault()" class="label" ng-repeat-start="tag in buildpack.tags track by $index"><a ng-click="$parent.$parent.query='{{tag}}'" href="#!">{{tag}}</a></span> <span ng-repeat-end></span>
	    </div>
            <div class="span2">{{buildpack.date | date:'short'}}</div>

          </li>
        </ul>
      </div>
    </div>
  </div>
