  <div class="container-fluid">
    <div class="row-fluid">
      <div>
        <i ng-click="query=''" class="fa fa-times-circle fa-fw"></i>
        <input ng-model="query" placeholder="Search" class="span11 search-query" />
      </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span11 buildpacks">
        <!--Body content-->
	<br />
        <p>Found {{(buildpacks | filter:query).length}} of {{buildpacks.length}} buildpacks in catalog.</p>
        <ul>
          <li><b>
            <div class="span3">.name</a></div>
            <div class="span2">.date</div>
            <div class="span2">.url</div>
            <div class="span2">.tags</div>
            <div class="span2">.json</div>
          </b>
          </li>
          <li ng-repeat="buildpack in buildpacks | filter:query | orderBy:'-date'">
            <div class="span3"><a href="/#/buildpacks/{{buildpack._id}}">{{buildpack.name}}</a></div>
            <div class="span2">{{buildpack.date | date:'short'}}</div>
            <div class="span2"><a href="{{buildpack.url}}"><i class="fa fa-external-link"></i></a></div>
            <div class="span2">
                <span ng-click="$event.preventDefault()" class="label label-info" ng-repeat-start="tag in buildpack.tags"><a ng-click="$parent.$parent.query='{{tag}}'" href="#">{{tag}}</a></span> <span ng-repeat-end></span>
	    </div>
            <div class="span2"><a href="/api/buildpacks/{{buildpack._id}}"><i class="fa fa-code"></i></a></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
