<div class="container-fluid" ng-model="buildpack">

  <div class="row-fluid">
  <h1>{{ buildpack.name }} <a class="btn" href="/#!/buildpacks/{{buildpack._id}}"><i class="fa fa-pencil"></i></a></h1>
  <h4><a href="{{ buildpack.url }}">{{ buildpack.url }}</a></h4>
  </div>
  <div class="row-fluid">
  Author: {{ buildpack.author }}
  </div>
  <br />

  <div class="row-fluid">

  <div class="span5">
    <label>Tags</label>
    <label ng-repeat="tag in buildpack.tags track by $index" class="label label-info">{{tag}}</label> 
  </div>

   <div class="span5">
    <label>Works on</label>
    <div class="btn-group">
        <label class="label"
	    ng-repeat="(paas,works) in buildpack.works_on"
            ng-class="{'label-success': works, 'label-important': !works}">
            {{ works | checkmark }}
            {{ paas }}
        </label>
    </div>
  </div>
 
  </div>
  <!-- <pre>buildpack = {{buildpack | json}}</pre> -->

  <br />
  <br />

<!-- Disqus -->
<div id="disqus_wrapper" ng-cloak>
 <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div> 
<!-- end Disqus -->

  </div>
</div>
